.text-center {

    text-align: center;
  
   
  
    left: 45% ;
  
    position: absolute;
  
      top: 5%;
  
      float: left;
  
   
  
  }

  .jd{

    float: right;

    margin-left: 100px;

     position: absolute;

    top: 5%;

    left: 50%;

}
.f{

    background-color: #fe610c;

    border-radius: 40px;

}

.a{

    float: right;

    margin-left: 100px;

    position: absolute;

    top: 5%;

    left: 60%;

}
.b{

    float: right;

    margin-left: 100px;

    position: absolute;

    top: 5%;

    left: 69%;

}

.c{

    float: right;

    margin-left: 150px;

    position: absolute;

    top: 5%;

    left: 75%;

    border-radius: 40px;

}

.pic{

    position: absolute;

    top: 5%;

}

.search-wrapper {

    position: relative;

    background-image: url(https://akam.cdn.jdmagicbox.com/images/icontent/jdrwd_new/jdmart-banner.jpg);

   

    padding: 0px,0px,0px,40px;

   

}
.header_sprite {

    background: url(//akam.cdn.jdmagicbox.com/images/icontent/jdrwd_new/header_sprite1X.png) no-repeat;

    }

   

.search-input{

    float: right;

    width: 300px;



}

.search-text{

    float: right;

    width: 3x;

    top: 3%;

}

.sricon {

    background-position: -10px -31px;

    width: 20px;

    height: 25px;

}
.map-icon{

    background-position: -6px -3px;

    width: 15px;

    height: 22px;

}

.search-button{

    float: right;

    display: inline-block;

    vertical-align: middle;

    background-color: #fe610c;

    /* border: none; */

    width: 4%;

    line-height: 20px;

    height: 20px;

    /* border-radius: 40px; */

    }
    .abc{

        border-radius: 40px;

        border:0;

         padding:0rem 0rem;

         

    }

.sricon {

    background-position: -10px -31px;

    width: 20px;

    height: 25px;

}

.hotkeys-icon {

    float: left;

    width: 36px;

    height: 35px;

}

.hotkeys_sprite {

    background: url(//akam.cdn.jdmagicbox.com/images/icontent/jdrwd_new/hotkeys_sprite1X.png) no-repeat;

}

.covid19-icon {

    background-position: -50px -760px;

    height: 40px;


}
.hotkeys-text {

    float: left;

    padding: 0 0 0 10px;

    height: 40px;

    line-height: 44px;

   

    font-family: Roboto, sans-serif;

}

button {

font-family: Roboto,sans-serif;
    
    }
    .b2b-icon {

        background-position: -3px -138px;
    
        height: 40px;
        width: 50px;
    
    }
    hotkeys-b2b

{

    float: left;

    padding: 0 0 0 10px;

    height: 40px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

}
.tkair-icon {

    background-position: -50px -420px;

    height: 40px;

}
.hotkeys-text1{

    float: left;

    padding: 0 0 0 10px;

    height: 5px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

}

.anyoh-icon {

    background-position: -3px 0;

    height: 40px;

}

.hotkeys-text2{

    float: left;

    padding: 0 0 0 10px;

    height: 5px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

}

.loana-icon{

    background-position: -98px -349px;

    height: 40px;

}

.hotkeys-text3{

    float: left;

    padding: 0 0 0 10px;

    height: 5px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

}

.autoc-icon {

    background-position: -5px -46px;

    height: 40px;

}
.hotkeys-text4{

    float: left;

    padding: 0 0 0 10px;

    height: 5px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.header{

    margin-top: 0px;

}

.autom-icon {

    background-position: -5px -93px;

    height: 40px;

}

.hotkeys-text5{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.babyc-icon {

    background-position: -5px -187px;

    height: 40px;

}

.hotkeys-text6{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.banqu-icon {

    background-position: -6px -232px;

    height: 40px;

}

   

.hotkeys-text7{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.bills-icon {

    background-position: -5px -280px;

    height: 40px;

}



.hotkeys-text8{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}
.bookh-icon {

    background-position: -184px -48px;

    height: 40px;

}

.hotkeys-text9{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.pestc-icon {

    background-position: -142px 0;

    height: 40px;

}

.hotkeys-text0{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.bus-icon {

    background-position: -3px -468px;

    height: 40px;

}

.hotkeys-text10{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.cater-icon {

    background-position: -3px -565px;

    height: 40px;

}

.hotkeys-text11{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.chemi-icon {

    background-position: -5px -610px;

    height: 40px;

}

.hotkeys-text12{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.civil-icon {

    background-position: -3px -658px;

    height: 40px;

}

.hotkeys-text13{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.couri-icon {

    background-position: -3px -702px;

    height: 40px;

}

.hotkeys-text14{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.daily-icon {

    background-position: -50px 0;

    height: 40px;

}

.hotkeys-text15{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.dance-icon {

    background-position: -50px -46px;

    height: 40px;

}

.hotkeys-text16{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.docto-icon {

    background-position: -50px -140px;

    height: 40px;

}

.hotkeys-text17{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.educa-icon {

    background-position: -50px -185px;

    height: 40px;

}

.hotkeys-text18{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.emerg-icon {

    background-position: -49px -234px;

    height: 40px;

}

.hotkeys-text19{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.event-icon {

    background-position: -48px -326px;

}

.hotkeys-text20{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.fitne-icon {

    background-position: -49px -372px;

}

.hotkeys-text21{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.fligh-icon {

    background-position: -50px -420px;

}

.hotkeys-text22{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.foregin_icon {

    background-position: -188px -603px;

}

.hotkeys-text23{

    float: left;

    padding: 0 0 0 10px;

    height: 2px;

    line-height: 44px;

    width: 113px;

    font-family: Roboto, sans-serif;

    border: 1px ;

}

.wrapper {

    float: right;

    width: 80%;

    position: relative;

   

}

.Resturants{

    position: absolute;

    float: right top;

    width: 5%;

}

.figure-text{

    /* float: left;  */

  

   padding: 5px 0px;

}

.ab{

    float: right;

    width: 140%;

    position: relative;

    line-height: 30px;

  }

.bc{

    float: right;

    width: 140%;

    position: relative;

  line-height: 25px;

  }

  .cd{

    float: right;

    width: 140%;

    position: relative;

  line-height: 25px;

  }

  .ac{

    float: right;

    width: 140%;

    position: relative;

  line-height: 25px;

  }

  .image{

    height: 150px;

    width: 200px;

    position:  relative;

  left: 25%;

  top: 20%;

  }
  .wrapper1 {

    float: left;

    width: 80%;

    position: absolute;

    right: -40%;

    bottom: -1%;



  }


  .image1{

    height: 135px;

    width: 130px;

    position: absolute;

  left: 20.2%;

  top: 0%;

  }

  .wrapper2 {

    float: right;

    width: 90%;

    position:absolute;

     top:104%;

     right: -27.8%;

   

}

.image2{

    height: 135px;

    width: 145px;

    position: absolute;

  left: -15.3%;

  top: 0.4%;

  }

  .wrapper3 {

    float: right;

    width: 80%;

    position:absolute;

     top:104%;

     right: -51.8%;

   

}

.image3{

    height: 135px;

    width: 125px;

    position: absolute;

  left: -14.8%;

  top: 0.4%;

  }

  .heading_wrapper1{

    float: right;

    width: 80%;

    position: relative;

    /* left: 30%; */

  }

  .heading_wrapper2 {

    float: right;

    width: 80%;

    position: relative;

    right: -13%;

  }

  .image4{

    height: 135px;

    width: 130px;

    position: absolute;

  left: -15%;

  top: 0%;

  }

 .figure-text2{

    /* float: left;  */

   width: 15%;

   padding: 5px 0px;

}

.wrapper5{

    float: right;

    width: 80%;

    position:absolute;

     top:143%;

     right: -51.8%;

   

}

.image5{

    height: 135px;

    width: 125px;

    position: absolute;

  left: -14.8%;

  top: 0.4%;

  }

  .wrapper6{

    float: right;

    width: 77%;

    position: absolute;

    right: -1.3%;

    bottom:-101%;

  }



  .image6{

    height: 135px;

    width: 130px;

    position: absolute;

  left: 15.0%;

  top: 0%;

  }

  .wrapper7{

    float: right;

    width: 80%;

    position:absolute;

     top:174%;

     right: -51.8%;

   

}

.image7{

    height: 135px;

    width: 125px;

    position: absolute;

  left: -14.8%;

  top: 0.4%;

  }

  .figure-text3{

    /* float: left;  */

   width: 15%;

   padding: 5px 0px;

}


.right {
    width: 200px;
    float: right;
    background: #fffc54;
  }
  .left {
    background: #e3e3dc;
    width: auto;
    overflow: hidden;
  }

  ul,li{ list-style-type:none;}

  .subleft{
    float: left;
  height: 40px;
  width: 45%;
  padding-top: 50px;
  padding-left: 80px;
  
    
}
.subleftp{
    padding-top: 45px; 
    padding-left: 25px;
    
}
.subright{
    float: left;
  padding: 10px;
  height: 400px;
  width: 25%;
  padding-top: 90px;
  padding-left: 40px;
  padding-bottom:0cm;
    
}
.subrightp{
    padding-top: 90px;
    padding-right: 100px;

    
}
* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 700px;
    /* Should be removed. Only for demonstration */
}

.leftp {
    width: 20%;
}

.rightp {
    width: 45%;
}

.middle {
    width: 35%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.sublefts{
    float: left;
  height: 40px;
  width: 45%;
  padding-top: 50px;
  padding-right: 40px;
 
  
}

.simage{
   text-align: left;
   width: 210px;
   height: 140px;
     
}

.simages{
    
   padding-top:92px;
 
   

}
.sub{
   position: relative;
   text-align: center;
   padding-left: 100px ;
   height: 30px;
    
    
    
}
.subleftr{
    float: left;
    height: 40px;
    width: 45%;
    padding-top: 100px;
    padding-left: 80px;

}
.img{
    padding-top:0px;
    padding-left:50px;
    position: absolute;
}


